{%load bootstrap4%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <style>
        .paginator {
            text-align: center
        }
        .comments {
            border-collapse: collapse;
            width: 100%;
        }
        tr {
            border-bottom: 1px dotted rgb(52, 40, 54);
        }
    </style>
    <title>게시판 목록</title>
</head>
<body>
    <div class="container" >
    <h1><a href="{%url 'boards:post_list'%}">엔코아인사이드</a></h1>
    {% if user.is_authenticated %}
    <h1><a href="{%url 'boards:post_list'%}"></a></h1>
    {% if  current_board%}
        <a href="{% url 'boards:each_new' current_board.pk%}" class ="btn btn-danger">포스팅</a>
    {%else%}
        <a href="{% url 'boards:post_new'%}" class ="btn btn-danger">포스팅</a>
    {% endif %}

    <a href="{% url 'logout'%}" class ="btn btn-outline-info">로그아웃</a>
    {%else%}
    <a href="{% url 'login'%}" class ="btn btn-outline-danger">로그인</a>
    <a href="{% url 'signup'%}" class ="btn btn-danger">가입</a>
    {% endif%}
    <hr>
    <div class="card">
        <div class="card_body">
            {%block content%}
            {%endblock%}
        </div>
    </div>

    
</body>
</html>

<div class="card">
    <div class="card_body"></div>
</div>